section.buy-now
    .product
        .product__image
            img(src="images/pills-box.png", alt="pills")
        .product__info
            .product__info__title.line-left A Supplement
            .product__info__price $29 USD
            .product__info__text Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet.
            a.btn order now


    