section.certifications
    .container
        h2.certifications__title Certifications
        p.certifications__desc We don’t sell craps, We’re certified.
        .certifications__logos
            img(src="images/brand-crade.png", alt="logo-brand")
            img(src="images/brand-qopi.png", alt="logo-brand")
            img(src="images/brand-nse.png", alt="logo-brand")
            img(src="images/brand-sgc.png", alt="logo-brand")
            img(src="images/brand-geotrust.png", alt="logo-brand")
    