section.clients
    .container
        h2.white-text
            span.thin-divider Client     
            | TESTIMONIALS
        p Don’t forget to check these real success.
        .clients-slider
            div
                p.clients-custom-pb Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minimveniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip. sed diam nonummy nibh euismod.
                .clients__acount
                    .clients__acount__avatar
                        img(src="images/avatar-girl.jpg", alt="")
                    .clients__acount__info
                        h4.white-text Alena Parker
                        p.bottom-line Sydney, Australia
            div
                p.clients-custom-pb Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minimveniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip. sed diam nonummy nibh euismod.
                .clients__acount
                    .clients__acount__avatar
                        img(src="images/photo-after.jpg", alt="")
                    .clients__acount__info
                        h4.white-text Mike Andersen
                        p.bottom-line Sydney, Australia