section.features.base-bg
    .container
        h2.text-center
            span.thin-divider Fetures     
            | We Offer
        p.text-center Don’t forget to check these real success.
        .we__offer
            .we__offer__list.we__offer__list-rewerse
                .we__offer__list__block
                    .line-right
                        h3 Increased Energy
                    p Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonu 
                .we__offer__list__block
                    .line-right
                        h3 Weight Loss
                    p Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonu 
            .we__offer__image
                img(src="images/sport.png", alt="sport")
            .we__offer__list
                .we__offer__list__block
                    .line-left
                        h3 Bone Builder
                    p Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonu 
                .we__offer__list__block
                    .line-left
                        h3 Stress Release 
                    p Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonu 
        