section.hero-wrapper
    .container
        .hero
            .hero__desc
                .hero__desc__title.line-left
                    h1 Do It Now
                    p Or You Never Get It Back
                p.hero__desc__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
                .hero__desc__order
                    a.btn(href="#") ORDER NOW
                    a.hero__desc__order-video(href="#videoModal") watch the video
                        i.pulse.fa.fa-play-circle-o(aria-hidden="true")
                        include videoModal
            .hero__image
                img(src="images/pills.png", alt="pills")

