section.results
    .container
        h2.text-center
            span.thin-divider real man     
            | real results
        p.text-center Don’t forget to check these real success.
        .realResults-slider
            div
                .realResults__slide
                    .realResults__slide__photos
                        .relative-small
                            img(src="images/photo-before.jpg", alt="before-photo")
                        .relative-big    
                            img(src="images/photo-after.jpg", alt="after-photo")
                    .realResults__slide__text
                        .realResults__slide__text__weight
                            .realResults__slide__text__weight__changes
                                div.weight#weight-before 87
                                    span kg 
                            .realResults__slide__text__weight__changes
                                div.weight#weight-after 63
                                    span kg 
                        .realResults__slide__text__name
                            .line-left
                                h4 Mike Andersen
                                p age:28
            div
                .realResults__slide
                    .realResults__slide__photos
                        .relative-small
                            img(src="images/photo-before.jpg", alt="before-photo")
                        .relative-big    
                            img(src="images/photo-after.jpg", alt="after-photo")
                    .realResults__slide__text
                        .realResults__slide__text__weight
                            .realResults__slide__text__weight__changes
                                div.weight#weight-before 87
                                    span kg 
                            .realResults__slide__text__weight__changes
                                div.weight#weight-after 63
                                    span kg 
                        .realResults__slide__text__name
                            .line-left
                                h4 Mike Andersen
                                p age:28
            div
                .realResults__slide
                    .realResults__slide__photos
                        .relative-small
                            img(src="images/photo-before.jpg", alt="before-photo")
                        .relative-big    
                            img(src="images/photo-after.jpg", alt="after-photo")
                    .realResults__slide__text
                        .realResults__slide__text__weight
                            .realResults__slide__text__weight__changes
                                div.weight#weight-before 87
                                    span kg 
                            .realResults__slide__text__weight__changes
                                div.weight#weight-after 63
                                    span kg 
                        .realResults__slide__text__name
                            .line-left
                                h4 Mike Andersen
                                p age:28
        
        