section.statistic-wrapper
    .container
        .statistic
            img(src="images/pill__single.png", alt="pill")
            .statistic__info-wrapper
                .statistic__info
                    .line-left
                        p.statistic__info__numbers 100
                    p.statistic__info__quantity MG
                    p.statistic__info__per Per Capsule
                .statistic__info
                    .line-left
                        p.statistic__info__numbers 60
                    p.statistic__info__quantity capsules
                    p.statistic__info__per Per bottle
                .statiic__info
                    .line-left
                        p.statistic__info__numbers 900
                    p.statistic__info__quantity plus
                    p.statistic__info__per Satisfied Customers
