section.subscribe
    .container
        h2.white-text
            span.thin-divider Subscribe    
            | for tips 	&#38; Offers
        p We regularly knock our customers with useful tips and offers.
        .subscribe-form
            div
                form(action="", method="get")
                input(type="text", name="", placeholder="Enter Your Email")
                button(type="submit") subscribe
