section.supplement.supplement-bg
    .container
        h2.text-center
            span.thin-divider Supplement     
            | Facts
        p.text-center We’re brave enough to show what we use.
        .facts
            .facts__links
                .facts__links__title
                    .facts__links__title__name Ingredients
                    .facts__links__title__desc Per Serving
                        div (mg)
                ul.facts__links__list
                    li
                        | Citrus Aurantium
                        span 100
                    li
                        | Green Coffee Extract
                        span 72
                    li
                        | Green Tea Extract
                        span 88
                    li
                        | Guarana Extract w/ 10% Caffeine
                        span 4
                    li
                        | L-Phenylalanine
                        span 67
                    li
                        | Niacin
                        span 87
                    li
                        | Red Pepper Extract
                        span 323
                    li
                        | Vitamin B6
                        span 8
                a.btnDownload(href="")
                    | Download Specs  
                    span#size (50Kb)
            .facts__desc.active-desc
                img(src="images/ingredients/citrum.jpg", alt="coffe extract")
                .facts__desc__title.line-left
                    h4 Citrus Aurantium
                    p 100 mg
                p Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            .facts__desc
                img(src="images/ingredients/coffe.jpg", alt="coffe extract")
                .facts__desc__title.line-left
                    h4 Green Coffee Extract
                    p 72 mg
                p Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione 
            .facts__desc
                img(src="images/ingredients/coffe.jpg", alt="coffe extract")
                .facts__desc__title.line-left
                    h4 Green Tea Extract
                    p 88 mg
                p Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            .facts__desc
                img(src="images/ingredients/coffe.jpg", alt="coffe extract")
                .facts__desc__title.line-left
                    h4 Guarana Extract w/ 10% Caffeine
                    p 4 mg
                p Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione 
            .facts__desc
                img(src="images/ingredients/l-pher.jpg", alt="coffe extract")
                .facts__desc__title.line-left
                    h4 L-Phenylalanine
                    p 67 mg
                p Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            .facts__desc
                img(src="images/ingredients/coffe.jpg", alt="coffe extract")
                .facts__desc__title.line-left
                    h4 Niacin
                    p 87 mg
                p Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione 
            .facts__desc
                img(src="images/ingredients/red-pepper.jpg", alt="coffe extract")
                .facts__desc__title.line-left
                    h4 Red Pepper Extract
                    p 323 mg
                p Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            .facts__desc
                img(src="images/ingredients/Vb6.jpg", alt="coffe extract")
                .facts__desc__title.line-left
                    h4 Vitamin B6
                    p 8 mg
                p Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            
            
