section.supplement.supplement-bg
    .container
        h2.text-center
            span.thin-divider Supplement     
            | Facts
        p.text-center We’re brave enough to show what we use.
        .facts
            .facts__links
                .facts__links__title
                    .facts__links__title__name Ingredients
                    .facts__links__title__desc Per Serving
                        div (mg)
                ul.facts__links__list
                    li
                        | Citrus Aurantium
                        span 100
                    li
                        | Citrus Aurantium
                        span 100
                    li
                        | Citrus Aurantium
                        span 100
                    li
                        | Citrus Aurantium
                        span 100
                    li
                        | Citrus Aurantium
                        span 100
                    li
                        | Citrus Aurantium
                        span 100
                    li
                        | Citrus Aurantium
                        span 100
                    li
                        | Citrus Aurantium
                        span 100
                a.btnDownload(href="")
                    | Download Specs  
                    span#size (50Kb)
            .facts__desc.active-desc
                img(src="images/coffe.jpg", alt="coffe extract")
                .facts__desc__title.line-left
                    h4 Green Coffee Extract
                    p 72 mg
                p Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            .facts__desc
                img(src="images/coffe.jpg", alt="coffe extract")
                .facts__desc__title.line-left
                    h4 Some Bulshit
                    p 55 mg
                p Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            .facts__desc
                img(src="images/coffe.jpg", alt="coffe extract")
                .facts__desc__title.line-left
                    h4 Some Bulshit
                    p 55 mg
                p Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            .facts__desc
                img(src="images/coffe.jpg", alt="coffe extract")
                .facts__desc__title.line-left
                    h4 Some Bulshit
                    p 55 mg
                p Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            .facts__desc
                img(src="images/coffe.jpg", alt="coffe extract")
                .facts__desc__title.line-left
                    h4 Some Bulshit
                    p 55 mg
                p Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            .facts__desc
                img(src="images/coffe.jpg", alt="coffe extract")
                .facts__desc__title.line-left
                    h4 Some Bulshit
                    p 55 mg
                p Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            .facts__desc
                img(src="images/coffe.jpg", alt="coffe extract")
                .facts__desc__title.line-left
                    h4 Some Bulshit
                    p 55 mg
                p Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            .facts__desc
                img(src="images/coffe.jpg", alt="coffe extract")
                .facts__desc__title.line-left
                    h4 Some Bulshit
                    p 55 mg
                p Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            
            
