#videoModal.modalDialog
   .modalDialog__inner
        a.modalDialog__inner-close(href="#")
            i.fa.fa-times(aria-hidden="true")
        .modalDialog__inner-video
            video(controls, poster="images/pill__single.png")
                source(src="")
            


