.buy-now {
    background: url(../images/hero-bg.png) center no-repeat;
    transform: rotate(180deg);
    padding-bottom: 6.875rem;
    .product {
        transform: rotate(180deg);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &__image {
            margin-right: 40px;
        }
        &__info {
            margin-top: 4.7rem;
            max-width: 360px;
            text-align: left;
            &__title {
                font: 1.875rem 'latobold';
                color: $title-color;
                padding: 0 0 20px 25px;
            }
            &__price {
                margin-left: 25px;
                font: 1.25rem 'latolight';
                color: $title-color;
            }
            &__text {
                margin-top: 30px;
                font: 1rem 'latolight';
                color: #666;
                margin: 30px 0;
            }
        }
    }
}
