// ---------colors-----------

$base-bg: #fafcfc;
$basic-text-color: #5b5f64;
$nav-color: #666;
$title-color: #333740;
$blue-base-color: #18a3dd;
$slick-arrow-default: #c6cfd2;
$title-white: #e5e5e5;
$clients-color: #767a7d;
$footer-color: #f1f4f5;

// ----------Typography---------

$basic-font: 'ralewaymedium';
$basic-bold-font: 'ralewayextrabold';
$secondaty-font: 'latolight';
$btn-font: 'latobold';
$secondary-bold-font: 'ralewaybold';